@font-face {
	font-family: 'Exo 2 Semi';
	src: url('../fonts/hinted-subset-Exo2-SemiBold.woff2') format('woff2'),
	url('../fonts/hinted-subset-Exo2-SemiBold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Exo 2';
	src: url('../fonts/hinted-subset-Exo2-Regular.woff2') format('woff2'),
	url('../fonts/hinted-subset-Exo2-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Exo 2';
	src: url('../fonts/hinted-subset-Exo2-Bold.woff2') format('woff2'),
	url('../fonts/hinted-subset-Exo2-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}

