body {
	font-family: $font;
	font-size: 15px;
	font-weight: normal;
	line-height: 1.5;
	color: $black;
}

a {
	color: inherit;
	text-decoration: none;
}

strong,b{
	font-weight: 600;
}

.gray{
	color: $gray-text;
}

.link{
	font-weight: 600;
	color: $red;
}

.link-icon{
	display: inline-flex;
	align-items: center;
	font-weight: 600;
	color: $red;

	i{
		margin-left: 10px;
	}
}

h1,.h1{
	font-size: 25px;
	font-weight: bold;
	line-height: 1.2;
}

h2,.h2{
	font-size: 20px;
	font-weight: 600;
	line-height: 1.2;
}

h3,.h3{
	font-size: 18px;
	font-weight: 600;
	line-height: 1.2;
}