//s-catitems-header
.s-catitems-header{
	padding: 20px 0;
	z-index: 2;
}

.catitems-header{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-end;
	position: relative;
	border-radius: 20px;
	box-shadow: 0 10px 30px 0 rgba(#000,0.15);
	background-size: cover;
	background-position: center center;
	height: 180px;
	padding: 15px 20px;
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;

	&:before{
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		top: 0;
		pointer-events: none;
		background: linear-gradient(45deg, rgba(#FFF,0.9), rgba(#FFF,0.6) 30%, rgba(#FFF,0.0001) 80%);
		border-radius: 20px;
		z-index: 1;
	}
}

.catitems-header__title{
	position: relative;
	z-index: 2;
	max-width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.catitems-header__delivery{
	display: flex;
	align-items: center;
	margin-top: 5px;
	z-index: 2;

	i{
		font-size: 24px;
		flex-shrink: 0;
		margin-right: 10px;
	}

	strong{
		font-size: 14px;
		line-height: 1.2;
	}
}
//s-catitems-header


//s-catitems
.s-catitems{
	padding: 20px 0 40px 0;
}

.catitems-list{
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;

	.catitem{
		padding: 30px 0;
		border-bottom: 1px solid $gray-line;

		&:first-child{
			padding-top: 0;
		}

		&:last-child{
			border-bottom: none;
		}
	}
}

.catitem{
	.quantity{
		margin-bottom: 15px;
	}
}

.catitem__main{
	display: flex;
	align-items: flex-start;
}

.catitem__photo{
	width: 136px;
	height: 136px;
	margin-right: 15px;
	flex-shrink: 0;
	border: 1px solid $gray-line;
	border-radius: 20px;
	overflow: hidden;
	@include res(xxs){
		width: 90px;
		height: 90px;
	}

	img{
		display: block;
		width: 100%;
		height: auto;
	}
}

.catitem__info{
	flex: 1;
}

.catitem__title{
	margin-bottom: 10px;
}

.catitem__variants{
	margin-bottom: 15px;
}

.catitem__variant{
	display: inline-block;
	font-size: 14px;
	color: $red;
	margin: 0 10px 2px 0;
	padding: 1px 6px;
	border-radius: 6px;
	background: transparent;
	-webkit-tap-highlight-color: transparent;
	
	&.active{
		background: $red-light;
	}
}

.catitem__note{
	padding-top: 20px;
	color: $gray-text;
	line-height: 1.3;
	font-size: 13px;
}
//s-catitems