//s-catitems-header
.s-catitems-header{
	padding: 20px 0;
	z-index: 2;
}

.catitems-header{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-end;
	position: relative;
	border-radius: 20px;
	box-shadow: 0 10px 30px 0 rgba(#000,0.15);
	background-size: cover;
	background-position: center center;
	height: 180px;
	padding: 15px 20px;
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;

	&:before{
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		top: 0;
		pointer-events: none;
		background: linear-gradient(45deg, rgba(#FFF,0.9), rgba(#FFF,0.6) 30%, rgba(#FFF,0.0001) 80%);
		border-radius: 20px;
		z-index: 1;
	}
}

.catitems-header__title{
	position: relative;
	z-index: 2;
	max-width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.catitems-header__delivery{
	display: flex;
	align-items: center;
	margin-top: 5px;
	z-index: 2;

	i{
		font-size: 24px;
		flex-shrink: 0;
		margin-right: 10px;
	}

	strong{
		font-size: 14px;
		line-height: 1.2;
	}
}
//s-catitems-header


//s-catitems
.s-catitems{
	padding: 20px 0 40px 0;
}

.catitems-list{
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;

	.catitem{
		padding: 30px 0;
		border-bottom: 1px solid $gray-line;

		&:first-child{
			padding-top: 0;
		}

		&:last-child{
			border-bottom: none;
		}
	}
}

.catitem{
	.quantity{
		margin-bottom: 15px;
	}
}

.catitem__main{
	display: flex;
	align-items: flex-start;
}

.catitem__photo{
	width: 136px;
	height: 136px;
	margin-right: 15px;
	flex-shrink: 0;
	border: 1px solid $gray-line;
	border-radius: 20px;
	overflow: hidden;
	@include res(xxs){
		width: 90px;
		height: 90px;
	}

	img{
		display: block;
		width: 100%;
		height: auto;
	}
}

.catitem__info{
	flex: 1;
}

.catitem__title{
	margin-bottom: 10px;
}

.catitem__variants{
	margin-bottom: 15px;
}

.catitem__variant{
	display: inline-block;
	font-size: 14px;
	color: $red;
	margin: 0 10px 2px 0;
	padding: 1px 6px;
	border-radius: 6px;
	background: transparent;
	-webkit-tap-highlight-color: transparent;
	
	&.active{
		background: $red-light;
	}
}

.catitem__note{
	padding-top: 20px;
	color: $gray-text;
	line-height: 1.3;
	font-size: 13px;
}

.catitem__actions{
	display: flex;
	align-items: center;
	justify-content: space-between;
	max-width: 200px;
}

.catitem__price{
	font-weight: 600;
	font-size: 18px;
	padding-right: 10px;
	white-space: nowrap;
	@include res(xxs){
		font-size: 16px;
	}

	small{
		font-size: 70%;
	}
}
//s-catitems


.cart-btn{
	position: fixed;
	bottom: 20px;
	left: 30px;
	right: 30px;
	z-index: 10;
	padding: 0 20px;
	height: 50px;
	display: flex;
	align-items: center;
	width: calc(100% - 60px);
	max-width: 400px;
	margin-left: auto;
	margin-right: auto;

	i{
		font-size: 20px;
		margin-right: 15px;
	}
}


//cart
.cart-header{
	display: flex;
	align-items: center;
	margin-bottom: 30px;
}

.cart-header__title{
	display: flex;
	margin-right: 20px;

	i{
		font-size: 20px;
		margin-right: 12px;
		color: $red;
	}
}

.cart-header__back{
	margin-right: 10px;
	width: 30px;
	height: 30px;
	display: flex;
	align-items: center;
	justify-content: center;

	&:active{
		color: $red;
	}
}

.cart-list{
	border-bottom: 1px solid $gray-line;
	padding-bottom: 35px;

	.catitem{
		margin-bottom: 25px;

		&:last-child{
			margin-bottom: 0;
		}
	}
}

.catitem--cart{
	.catitem__photo{
		width: 90px;
		height: 90px;
	}

	.catitem__variants{
		margin-bottom: 5px;
	}

	.quantity{
		margin-bottom: 0;
	}
}

.cart-delivery{
	display: flex;
	align-items: center;
	padding: 30px 0;
	border-bottom: 1px solid $gray-line;

	.i-info{
		font-size: 20px;
		color: $red;
		margin-left: 15px;
	}
}

.cart-related-block{
	padding-top: 30px;
	margin-bottom: 30px;
}


.cart-related-slider{
	display: flex;
	overflow: hidden;
	padding: 0 20px;

	&.flickity-enabled{
		display: block;
		overflow: visible;
	}

	.flickity-prev-next-button{
		width: 30px;
		height: 30px;

		&.next{
			right: -10px;
		}

		&.previous{
			left: -10px;
		}
	}
}

.cart-related{
	display: block;
	width: 50%;
	padding: 0 10px;
	flex-shrink: 0;
	@include res(s){
		width: calc(100% / 3);
	}

	.catitem__photo{
		width: 90px;
		height: 90px;
		margin-bottom: 5px;
		margin-right: 0;
	}

	.btn{
		margin-top: 5px;
		font-size: 20px;
		height: 40px;
		width: 60px;
		padding: 0;
		box-shadow: none;

		i{
			display: block;
		}
	}
}

.cart-related__title{
	display: block;
	line-height: 1.1;
	margin-bottom: 2px;
}
//cart


.flowers-item{

	.btn{
		width: 100%;
		padding-left: 5px;
		padding-right: 5px;
	}

	.catitem__price{
		margin-bottom: 4px;
	}
}

.flowers-item__photo{
	display: block;
	width: 100%;
	height: auto;
	border-radius: 20px;
	box-shadow: 4px 7px 12px 0 rgba(0, 0, 0, 0.1);
	margin-bottom: 10px;
}

.flowers-item__title{
	margin-bottom: 4px;
}