//s-restitems-header
.s-restitems-header{
	padding: 0 0 20px 0;
}

.restitems-header{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-end;
	position: relative;
	border-radius: 20px;
	box-shadow: 0 10px 30px 0 rgba(#000,0.15);
	background-size: cover;
	background-position: center center;
	height: 180px;
	padding: 15px 20px;
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;

	&:before{
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		top: 0;
		pointer-events: none;
		background: linear-gradient(195deg, rgba(255, 255, 255, 0.0001) 35%, rgba(255, 255, 255, 0.849705) 55%, #FFFFFF 80%);
		border-radius: 20px;
		z-index: 1;
	}
}

.restitems-header__title{
	position: relative;
	z-index: 2;
}
//s-restitems-header


//s-restitems
.s-restitems{
	padding: 20px 0;
}

.restitems-cat{
	margin-bottom: 30px;
}

.restitems-list{
	display: grid;
	grid-template-columns: 150px 150px;
	grid-column-gap: 20px;
	grid-row-gap: 30px;
	justify-content: center;
	@include res(xxs){
		grid-column-gap: 15px;
		grid-template-columns: 140px 140px;
	}
	@include res(s){
		grid-template-columns: 150px 150px 150px;
	}
	@include res(m){
		grid-template-columns: 150px 150px 150px 150px;
	}
	@include res(l){
		grid-template-columns: 150px 150px 150px 150px 150px;
	}
}

.restitems-list-two{
	display: grid;
	grid-template-columns: 150px 150px;
	grid-gap: 20px;
	justify-content: center;
	@include res(xxs){
		grid-gap: 15px;
		grid-template-columns: 140px 140px;
	}
}

.restitem{

	.btn{
		width: 100%;
		padding-left: 5px;
		padding-right: 5px;
	}

	.stars{
		margin-bottom: 10px;
	}
}

.restitem__photo{
	display: block;
	width: 100%;
	height: auto;
	border-radius: 20px;
	box-shadow: 4px 7px 12px 0 rgba(0, 0, 0, 0.1);
	margin-bottom: 10px;
}

.restitem__sup{
	font-size: 13px;
	margin-bottom: 3px;
}

.restitem__title{
	margin-bottom: 7px;
}
//s-restitems