.olla-header{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	padding-top: 30px;
	padding-bottom: 15px;
	z-index: 110;
	transition: all 0.3s ease;

	&.opened{
		.main-menu{
			visibility: visible;
			opacity: 1;
			transform: translate3d(0,0,0);
		}
		.burger__dot{
			background: $red;
		}
	}
	
	&--scrolled{
		background: #FFF;
		padding-top: 15px;
		padding-bottom: 15px;
		box-shadow: 0 2px 10px 0 rgba(#000,0.1);

		.main-menu{
			padding-top: 50px;
		}
	}
}

.olla-header__top{
	display: flex;
	align-items: center;
	justify-content: space-between;
	z-index: 2;
}

.olla-header__logo{
	display: block;
	-webkit-tap-highlight-color: transparent;
	width: 113px;
	flex-shrink: 0;

	img{
		display: block;
		width: 100%;
	}
}


//burger
.burger{
	position: relative;
	flex-shrink: 0;
	width: 20px;
	height: 20px;
	-webkit-tap-highlight-color: transparent;
}

.burger__dot{
	width: 5px;
	height: 5px;
	border-radius: 50%;
	background: #D0D0D0;
	position: absolute;
	transition: background 0.3s ease;

	&:nth-child(1){
		left: 0;
		top: 0;
	}
	&:nth-child(2){
		right: 0;
		top: 0;
		background: $red;
	}
	&:nth-child(3){
		right: 0;
		bottom: 0;
	}
	&:nth-child(4){
		left: 0;
		bottom: 0;
	}
}
//burger


//main-menu
.main-menu{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	max-height: calc(var(--vh, 1vh) * 100 - 10px);
	background: #FFF;
	padding-top: 60px;
	text-align: center;
	border-radius: 0 0 30px 30px;
	visibility: hidden;
	opacity: 0;
	transform: translate3d(0,-20px,0);
	transition: all 0.2s ease;
	overflow: auto;
}

.main-menu__group{
	display: flex;
	flex-direction: column;
	align-items: center;
	border-bottom: 1px solid $gray-line;
	padding: 30px 0;
}

.main-menu__link{
	font-size: 16px;
	font-weight: 600;
	margin-bottom: 25px;

	&:last-child{
		margin-bottom: 0;
	}

	&.active{
		color: $red;
	}
}

.main-menu__actions{
	padding: 30px 0;

	.link-icon{
		font-size: 16px;
		margin: 0 10px;

		i{
			font-size: 25px;
		}
	}
}
//main-menu