.quantity{
	display: flex;
	align-items: center;
}

.quantity__btn{
	width: 24px;
	height: 24px;
	border-radius: 3px;
	flex-shrink: 0;
	border: none;
	background: $red-light;
	font-size: 24px;
	line-height: 22px;
	font-weight: 600;
	color: $red;
	
	&:active{
		background: $red;
		color: #FFF;
	}
	
	&:focus{
		outline: none;
	}
}

.quantity__val{
	width: 70px;
	text-align: center;
	font-size: 18px;
	margin: 0 4px;
}